name: Auto-add to the Mark's Personal Project

on:
  issues:
    types: [labeled]
  pull_request_target:
    types: [labeled]

permissions:
  contents: read
  issues: read
  pull-requests: read

jobs:
  add-to-personal-project:
    uses: markheydon/github-workflows/.github/workflows/add-to-personal-project.yml@main
    secrets:
      GITHUB_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}